body {background-color: rgba(245, 245, 245, 0.904);
margin:0;
padding:0;}

@media only screen and (min-width:801px){



header {background-color:rgb(100, 11, 100);
width: 100%;
padding: 0.2em;
height: 9em;
margin-bottom: 0;
margin-right: 0;}

header h1 {font-family:'Times New Roman', Times, serif;
font-size: 3em;
display: inline-block;
position: relative;
bottom: 60px;
}

nav {background-color: rgb(53, 20, 88);
margin-bottom: 2em;
border: black solid 2px;}

nav ul {list-style: none;
margin: 0;
padding: 0;}

nav ul li {display: inline-block;
width: 16%;}

nav ul li a {color: white;
text-align: center;
display: block;
padding: 0.2em 0.4em;}

nav ul li a:hover {transition: 1.5s;
background-color: rgb(0, 0, 0);}

nav ul li a.activo {background-color:rgba(0, 0, 0);}

.contenedor {width: 950px;
margin: auto;}

.columna {width: 950px;
display: inline-flex;
box-sizing: border-box;
padding: 0.6em;
}

h2 {color: chocolate;
font-style: italic;}

.columna .left {border-right: 1px solid gray;
width:50%;
display: inline-block;
}

.columna .right {width: auto;
display: block;
}

.columna .right p {font-size:0.9em;}

.columna .right ul li {font-size: 0.8em;}

.formulario label {vertical-align: top;
width: 20%;
display: inline-block;
}

.formulario input {background-color: #ddd;
border-radius: 5px;
border: 1px solid#999;
padding: 0.4em 0.6em;
font-size: 0.8em;
width: 70%;}


.formulario textarea {
background-color: #ddd;
border-radius: 5px;
border: 1px solid#999;
padding: 0.4em 0.6em;
font-size: 0.8em;
width: 70%;
}

.formulario input[type="submit"]{background-color:#6da9ed;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.4 );
color: white;
font-size: 1em;
width: auto;
cursor: pointer;}

.formulario textarea {height: 10em;
resize: none;}

.formulario .acciones {text-align: center;}

}






@media only screen and (max-width:800px) {

.contenedor .logo {width: 5em;}

header {width: 100%;
height: 4.5em;
padding: 0.2em;
background-color:rgb(100, 11, 100);
}

header h1 {font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    bottom:1.5em;}

nav {background-color: rgb(53, 20, 88);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 1em;
    margin-bottom: 2em;
    border: black solid 2px;}

nav ul {display: inline-block;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;}

nav ul li {display: inline-block;
    padding: 1px;
    width: 15.3%;}

    
nav ul li a {color: white;
    font-size: 0.8em;
    text-align: center;
    display: block;
}

nav ul li a:hover {transition: 1s;
background-color:rgb(0, 0, 0)
;width: 100%;
height: 100%;}

nav ul li a.activo {background-color: rgb(0, 0, 0);}

.contenedor {margin: auto;
margin-bottom: auto;}

.columna {width: 100%;
box-sizing: border-box;
padding: 0.6em;
}

h2 {color: chocolate;
font-style: italic;
font-size: 2em;}

.columna .left {border-right: 1px solid gray;
width:100%;
display: inline-block;
}

.columna .right {width: auto;
display: block;
}

.columna .right p {font-size:1.5em;}

.columna .right ul li {font-size: 1.2em;}

.formulario label {vertical-align: top;
width: 20%;
display: inline-block;
}

.formulario input {background-color: #ddd;
border-radius: 5px;
border: 1px solid#999;
padding: 0.4em 0.6em;
font-size: 0.8em;
width: 70%;}


.formulario textarea {
background-color: #ddd;
border-radius: 5px;
border: 1px solid#999;
padding: 0.4em 0.6em;
font-size: 0.8em;
width: 70%;
}

.formulario input[type="submit"]{background-color:#6da9ed;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.4 );
color: white;
font-size: 1em;
width: auto;
cursor: pointer;}

.formulario textarea {height: 10em;
resize: none;}

.formulario .acciones {text-align: center;}

}