body {background-color: rgba(255, 255, 255, 0.904);
margin:0;
padding:0;}

@media only screen and (min-width:801px){



header {background-color:rgb(100, 11, 100);
width: 100%;
padding: 0.2em;
height: 9em;
margin-bottom: 0;
margin-right: 0;}
    
header h1 {font-family:'Times New Roman', Times, serif;
font-size: 3em;
display: inline-block;
position: relative;
bottom: 60px;}
    
nav {background-color: rgb(53, 20, 88);
margin-bottom: 2em;
border: black solid 2px;}
    
nav ul {list-style: none;
margin: 0;
padding: 0;}
    
nav ul li {display: inline-block;
width: 16%;}
    
nav ul li a {color: white;
text-align: center;
display: block;
padding: 0.2em 0.4em;}
    
nav ul li a:hover {transition: 1.5s;
background-color: rgb(0, 0, 0);}

nav ul li a.activo {background-color:rgba(0, 0, 0);}


.contenedor {width: 1000px;
margin: auto;
margin-bottom: auto;} 

main div h2 {font-size: 2em;
color: chocolate;}

.Jugadores {overflow: hidden;}

.Jugador {width: 18%;
border: 1px solid gray;
border-radius: 0.25em;
float: left;
margin-left: 2.25%;
box-sizing: border-box;
text-align: center;
margin-top: 10px;}

.Jugador img {
border-radius: 50%;
box-shadow: 0 0 5px;
margin: 0.8em 0 1em;
max-width: 70%;
}

.Jugador h5,h6 {text-align: center;
font-weight: normal;
color: chocolate;
margin: 0;}

.Jugador h5 {font-size: 0.9em;
}

.Jugador h6 {font-size: 0.8em;
font-style: italic;}

}






@media only screen and (max-width: 800px) {
.contenedor .logo {width: 5em;}

header {width: 100%;
height: 4.5em;
padding: 0.2em;
background-color:rgb(100, 11, 100);
}

header h1 {font-family:'Times New Roman', Times, serif;
font-size: 1.5em;
display: inline-block;
position: relative;
bottom:1.5em;}

nav {background-color: rgb(53, 20, 88);
padding-top: 0.2em;
padding-bottom: 0.2em;
padding-right: 1em;
margin-bottom: 2em;
border: black solid 2px;}

nav ul {display: inline-block;
list-style: none;
margin: 0;
width: 100%;
padding: 0;}

nav ul li {display: inline-block;
padding: 1px;
width: 15.3%;}

    
nav ul li a {color: white;
font-size: 0.8em;
text-align: center;
display: block;
}

nav ul li a:hover {transition: 1s;
background-color:rgb(0, 0, 0)
;width: 100%;
height: 100%;}

nav ul li a.activo {background-color: rgb(0, 0, 0);}

.contenedor {margin: auto;
margin-bottom: auto;}


main div h2 {font-size: 2em;
color: chocolate;}

.Jugadores {overflow: hidden;}

.Jugador {width: 18%;
border: 1px solid gray;
border-radius: 0.25em;
float: left;
margin-left: 2.25%;
box-sizing: border-box;
text-align: center;
margin-top: 10px;}

.Jugador img {
border-radius: 50%;
box-shadow: 0 0 5px;
margin: 0.8em 0 1em;
max-width: 70%;
}

.Jugador h5,h6 {text-align: center;
font-weight: normal;
color: chocolate;
margin: 0;}

.Jugador h5 {font-size: 0.9em;
}

.Jugador h6 {font-size: 0.8em;
font-style: italic;}
}