
body {background-color: rgba(245, 245, 245, 0.904);
margin:0;
padding:0;}



@media only screen and (min-width:801px){



header {background-color:rgb(100, 11, 100);
width: 100%;
padding: 0.2em;
height: 9em;
margin-bottom: 0;
margin-right: 0;}

header h1 {font-family:'Times New Roman', Times, serif;
font-size: 3em;
display: inline-block;
position: relative;
bottom: 60px;
}

nav {background-color: rgb(53, 20, 88);
margin-bottom: 2em;
border: black solid 2px;}

nav ul {list-style: none;
margin: 0;
padding: 0;}

nav ul li {display: inline-block;
width: 16%;}

nav ul li a {color: white;
text-align: center;
display: block;
padding: 0.2em 0.4em;}

nav ul li a:hover {transition: 1.5s;
background-color: rgb(0, 0, 0);}

nav ul li a.activo {background-color:rgba(0, 0, 0);}

.contenedor {width: 950px;
margin: auto;
margin-bottom: auto;}


h2 {color: rgb(56, 7, 56);
font-size: 35px;}

p {font-size: 20px;}

span {font-size: 20px;}

.columnas {overflow: hidden;}

.columnaizq {float: left;
box-sizing: border-box;
width: 65%;
padding-right: 2em;}

.columnader {float: right;
box-sizing: border-box;
width: 35%;}

.draft2018 {background-color: grey;
border-radius: 10%;
padding: 1em;}



.draft2018 .cita {font-weight: bold;
font-style: italic;
font-size: 1.4em;
display: block;}

.draft2018 .autor {font-size: 1em;
text-align: center;
margin: 1em 0;
display: block;}

footer {background-color: rgba(110, 51, 9, 0.521);
width: 100%;
height: 5em;
border-top: solid black 5px;
padding-left: 20px;}
}




@media only screen and (max-width:800px) {

.contenedor .logo {width: 5em;}

header {width: 100%;
height: 4.5em;
padding: 0.2em;
background-color:rgb(100, 11, 100);
}

header h1 {font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    bottom:1.5em;}

nav {background-color: rgb(53, 20, 88);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 1em;
    margin-bottom: 2em;
    border: black solid 2px;}

nav ul {display: inline-block;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;}

nav ul li {display: inline-block;
    padding: 1px;
    width: 15.3%;}

    
nav ul li a {color: white;
    font-size: 0.8em;
    text-align: center;
    display: block;
}

nav ul li a:hover {transition: 1s;
background-color:rgb(0, 0, 0)
;width: 100%;
height: 100%;}

nav ul li a.activo {background-color: rgb(0, 0, 0);}

.contenedor {margin: auto;
    margin-bottom: auto;}

h2 {color: rgb(56, 7, 56);
    font-size: 2em;}
        
p {font-size: 1em;}
        
span {font-size: 1em;}


.imgenprin {width: auto;}

.draft2018 {background-color: grey;
    padding: 1em;}
    
.draft2018 .cita {font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;}
    
.draft2018 .autor {font-size: 1em;
    text-align: center;
    margin: 1em 0;
    display: block;}


footer {background-color: rgba(110, 51, 9, 0.521);
    width: 100%;
    height: 5em;
    border-top: solid black 5px;
    padding-left: 2em;}


}